/* Global reset */
* {
    box-sizing: border-box;
}

/* Default (light mode) styles */
:host {
    --background-color: #f4f4f4;
    --header-background: black;
    --header-text-color: #fff;
    --quiz-container-background: #fff;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --button-background: black;
    --button-text-color: #fff;
    --table-header-background: gold;
    --table-header-text-color: white;
    --table-border: gray;
    --table-text-color: black;
    --error-text-color: red;
    --switch-background: #ccc;
    --switch-slider-background: white;
    --switch-checked-background: #2196F3;
}

/* Dark mode styles */
[data-theme="dark"] {
    --background-color: #181818;
    --header-background: #222;
    --header-text-color: #fff;
    --quiz-container-background: #333;
    --box-shadow: rgba(0, 0, 0, 0.3);
    --button-background: #444;
    --button-text-color: #fff;
    --table-header-background: #666;
    --table-header-text-color: white;
    --table-border: #666;
    --table-text-color: white;
    --error-text-color: #f44336; /* Red color for dark mode */
    --switch-background: #666;
    --switch-slider-background: #333;
    --switch-checked-background: #2196F3;
}

/* Body and Header */
#body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
}
h2,label
{
    margin-top: 10px;
    color: orangered;
}
select
{
    background: var(--background-color);
    color: var(--table-text-color);
}
header {
    background-color: var(--header-background);
    color: var(--header-text-color);
    padding: 10px 20px;
    text-align: center;
    min-width: 98vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Quiz container */
.quiz-container {
    background-color: var(--quiz-container-background);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--box-shadow);
    margin: 20px 0;
    min-width: 98vw;
}

/* Button */
#showLeaderboardButton {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: var(--button-background);
    color: var(--button-text-color);
    border-radius: 5px;
    cursor: pointer;
}

#showLeaderboardButton:hover {
    background-color: #0056b3;
}

/* Table */
table {
    width: 90vw;
    border-collapse: collapse;
    margin: 10px 20px;
}

th {
    font-size: 1.2rem;
    background: var(--table-header-background);
    color: var(--table-header-text-color);
}

td, th {
    border: 1px solid var(--table-border);
    text-align: center;
    padding: 10px;
    color: var(--table-text-color);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form */
form {
    width: 40%;
    margin-left: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.delete-btn {
    padding: 7px;
    background: red;
    color: white;
    border: none;
    width: 100px;
    font-weight: bold;
}

.edit-btn {
    padding: 7px;
    background: #0056b3;
    color: white;
    border: none;
    width: 100px;
    font-weight: bold; 
}

#error {
    color: var(--error-text-color);
    display: none;
}

/* Media queries */
@media (max-width: 700px) {
    table td:nth-child(3), 
    table th:nth-child(3) {
        display: none;
    }
    table td:nth-child(5), 
    table th:nth-child(5) {
        display: none;
    }
    table {
        margin: 0;
    }
}

@media (max-width: 400px) {
    table td:nth-child(4), 
    table th:nth-child(4) {
        display: none;
    }
}

/* Switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch-background);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 3px;
    background-color: var(--switch-slider-background);
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--switch-checked-background);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--switch-checked-background);
}

input:checked + .slider:before {
    transform: translateX(15px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
select
{
    width: 70%;
    height: 30px;
    margin-top: 10px;
}
.quiz-selection
{
    margin-left: 10%;
}
.btns
{
    display: flex;
    align-items: center;
    gap: 10px;
}
@media (max-width:500px) {
    .action-btn
    {
        flex-direction: column;
        gap: 10px;
    }
}


.action-btn
{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.action-btn button
{
    width: 100px;
    border: 1px solid gray;
    padding: 5px;
    color: white;
}
.submit
{
    width: 200px;
    padding: 5px;
    background: blue;
    color: white;
    border: 1px solid gray;
}