*{
    padding: 0px;
    margin: 20px;
}
header,footer{
    background: gainsboro;
    text-align: center;
    padding: 20px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-elements{
    width: 40%;
    background: green;
    color: white;
    padding: 40px;
    margin: 20px;
    text-align: center;
}
nav{
    background: black;
    color: white;
    display: flex;
    justify-content: center;
}
nav span{
    margin: 10px;
}