<div id="body">
    <header class="light">
        <h1 id="course-name">{{current_course}}</h1>
        <div style="display: flex; align-items: center; gap: 10px;">
            <span class="logout" onclick="sessionStorage.clear();location.href='index.html'">Logout</span>
            <span id="user-name">{{current_user}}</span>
            <div>
                <label class="switch">
                    <input type="checkbox" id="toggle-button" (click)="toogleMode()">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </header>
    <main>
        <h1 id="score-area">Your score is {{user_mark}}</h1>
        <div id="leader-board">
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Email</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody id="leader-board-table">
                    @for (item of leaderboard; track $index)
                    {
                        @if(current_user===item.email)
                        {
                            <tr style="background-color: orange;">
                                <td>{{checkRank(item.mark)}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.mark}}</td>
                            </tr>
                        }
                        @else {
                        <tr>
                            <td>{{checkRank(item.mark)}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.mark}}</td>
                        </tr>
                    }
                    }
                </tbody>
            </table>
        </div>
        <div style="display: flex;gap: 10px;">
            <button onclick="location.href='quiz'">Retake Quiz</button>
            <button onclick="location.href='course-selection'">Course selection</button>
        </div>
    </main>
</div>