<div class="login-container">
  <h2>Login</h2>
  <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
          <label for="username">Email</label>
          <input type="email" id="username" name="username" formControlName="email">
      </div>
      <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" formControlName="password">
      </div>
      @if(!isValid)
      {
        <p style="color: red;">Invalid credentials</p>
      }
      <button type="submit">Login</button>
  </form>
  <div class="signup-link">
      <p>Don't have an account? <a href="signup">Sign up</a></p>
  </div>
</div>