/* Global reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:host {
    --background-color: #f4f4f4;
    --text-color: black;
    --header-background: black;
    --header-text-color: white;
    --quiz-container-background: white;
    --button-background: black;
    --button-hover-background: #0056b3;
    --button-text-color: white;
    --delete-button-background: red;
    --form-button-background: gold;
    --form-button-text-color: white;
}

/* Dark mode styles */
[data-theme="dark"] {
    --background-color: #181818;
    --text-color: white;
    --header-background: #222;
    --header-text-color: white;
    --quiz-container-background: #333;
    --button-background: #444;
    --button-hover-background: #666;
    --button-text-color: white;
    --delete-button-background: #900;
    --form-button-background: #666;
    --form-button-text-color: white;
}

/* Body and header */
#body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--header-background);
    color: var(--header-text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

h2 {
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
}

/* Main content area */
.main-content {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-grow: 1;
}

/* Quiz form container */
.quiz-form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    background-color: var(--quiz-container-background);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Form Styles */
.quiz-form label {
    margin-top: 5px;
    display: block;
    font-weight: bold;
}

.quiz-form input[type="text"],
.quiz-form input[type="number"],
.quiz-form textarea,
.quiz-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.quiz-form button {
    padding: 10px 15px;
    background-color: var(--form-button-background);
    color: var(--form-button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.quiz-form button:hover {
    background-color: var(--button-hover-background);
}

/* Toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(17px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Footer */
.footer a {
    color: inherit;
    margin: 0 10px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 450px) {
    table td:nth-child(3), table th:nth-child(3),
    table td:nth-child(2), table th:nth-child(2) {
        display: none;
    }

    .quiz-container {
        padding: 10px;
    }
}

/* Buttons */
#editButton, #addButton, .edit-btn, .delete-btn, #course-delete {
    background-color: var(--button-background);
    color: var(--button-text-color);
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    width: 200px;
}

#editButton:hover, #addButton:hover, .edit-btn:hover, .delete-btn:hover, #course-delete:hover {
    background-color: var(--button-hover-background);
}

#course-delete {
    background-color: var(--delete-button-background);
}

.edit-btn, .delete-btn {
    margin-right: 10px;
}

button:disabled {
    background: red;
}

.action-btn {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.action-btn button {
    width: 100px;
    border: 1px solid gray;
    padding: 5px;
    color: white;
}

#error {
    color: red;
    display: none;
}
