<div id="body">
    <header class="light">
        <h1>Leaderboard Management</h1>
        <div>
            <label class="switch">
                <input type="checkbox" id="toggle-button" (click)="toogleMode()">
                <span class="slider round"></span>
            </label>
        </div>
    </header>
    <div class="quiz-container">
        <h2>Select Your Quiz</h2>
        <div class="quiz-selection">
            <label for="quizDropdown">Choose a quiz:</label>
            <select id="quizDropdown" [(ngModel)]="current_course" (change)="handleChange()">
                <option value="" selected disabled hidden>Select a Quiz</option>
                @for (item of courses; track $index)
                 {
                    <option [value]="item.title">{{item.title}}</option>
                 }
                 <option value="Select All">Select all</option>
            </select>
        </div>
        <h2>Leaderboard</h2>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Course-Name</th>
                        <th>Score</th>
                        <th>Date</th>
                        @if(!showAll)
                        {
                        <th>Action</th>
                        }
                    </tr>
                </thead>
                <tbody id="leaderboard">
                    @if(showAll)
                    {
                        {{resetRank()}}
                        @for (course of courses; track $index) 
                        {
                            {{resetRank()}}
                            @for (item of course.userAttemped; track $index)
                            {
                                {{checkRank(item.mark)}}
                                <tr>
                                    <td>{{rank}}</td>
                                    <td>{{item.username}}</td>
                                    <td>{{course.title}}</td>
                                    <td>{{item.mark}}</td>
                                    <td>{{item.date}}</td>
                                </tr>
                            }
                        }
                    }
                    @else 
                    {
                        {{resetRank()}}
                        @for (item of userAttempt; track $index)
                        {
                            <tr>
                                {{checkRank(item.mark)}}
                                <td>{{rank}}</td>
                                <td>{{item.username}}</td>
                                <td>{{current_course}}</td>
                                <td>{{item.mark}}</td>
                                <td>{{item.date}}</td>
                                <td><div class="action-btn"><button (click)="edit($index)" style="background-color: blue;">Edit</button><button (click)="delete($index)" style="background-color: red;">Delete</button></div></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        @if(isEditing)
        {
            <form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" id="username" formControlName="username" required>
                </div>
              
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" id="email" formControlName="email" required>
                </div>
              
                <div class="form-group">
                  <label for="score">Score:</label>
                  <input type="number" id="score" formControlName="score" required>
                </div>
                
                <button type="submit" [disabled]="userForm.invalid" class="submit">Submit</button>
              </form>
              
    }
    </div>
</div>