<!-- signup.component.html -->
<div class="signup-container">
    <h2>Signup Form</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="fullName">Full Name</label>
        <input id="fullName" formControlName="fullName" type="text">
        @if(signupForm.get('fullName')?.invalid && signupForm.get('fullName')?.touched)
        {
            <p class="error">Full name is required</p>
        }
      </div>
      <div>
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email">
        @if(!isValiduser)
        {
        <p style="color: red;">User with same email id exists</p>
        }
        @if(signupForm.get('email')?.invalid && signupForm.get('email')?.touched)
        {
            <p class="error">Email is invalid</p>
        }
      </div>
  
      <div>
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password">
        @if(signupForm.get('password')?.invalid && signupForm.get('password')?.touched)
        {
            <p class="error">Password required (min 6 characters)</p>
        }
      </div>
      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password">
        @if((signupForm.get('confirmPassword')?.invalid || signupForm.hasError("mismatch")) && signupForm.get('confirmPassword')?.touched)
        {
            <p class="error">Password mismatch</p>
        }
      </div>
      <button type="submit" [disabled]="signupForm.invalid">Signup</button>
    </form>
    <p style="margin-top: 20px;">Already a user <a href="/login">Login</a> </p>
  </div> 
  